
<div class="abc">
  <h1>Registration Form</h1>
  <form [formGroup]="signupForm">
    <div class="example-form-fields">

      <div class="name">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-error class="no-bottom"
        *ngIf="firstName?.errors?.['required'] &&(firstName?.touched||firstName?.dirty)"
        >First Name is Required</mat-error>
      </div>

      <div>
        <mat-form-field>
          <mat-label> Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-error class="no-bottom"
        *ngIf="lastName?.errors?.['required'] &&(lastName?.touched||lastName?.dirty)"
        >Last Name is Required</mat-error>
      </div>

    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-error class="no-bottom"
    *ngIf="email?.errors?.['required'] &&(email?.touched||email?.dirty)"
    >Email is required</mat-error
  >
   <mat-error  class="no-bottom" *ngIf="email?.errors?.['email'] ">Enter a valid email</mat-error>
    <mat-form-field class="example-full-width">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error class="no-bottom"
    *ngIf="password?.errors?.['required'] &&(password?.touched||password?.dirty)"
    >password is required</mat-error
  >
  <mat-error class="no-bottom" *ngIf="password?.errors?.['pattern'] "
    >password not meet the requirement</mat-error>
    <div>
    <h3>Address<span>(Optional)</span>:</h3>
      <div class="example-form-fields">

        <div class="name">
          <mat-form-field>
            <mat-label>street</mat-label>
            <input matInput formControlName="street" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>city</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="example-full-width">
        <mat-label>state</mat-label>
        <input matInput formControlName="state" />
      </mat-form-field>
    </div>
    <mat-error class="no-bottom" *ngIf="errorMessage">{{errorMessage}}</mat-error>
<p>Already a User click <a  routerLink="/login">here</a></p>
  <button type = "submit" mat-raised-button color="primary" [disabled]="hasError()" (click) ="signupUser()">Submit</button>
  </form>
</div>
