.sidenav-container {
  height: 100%;
  overflow: hidden;
}

.sidenav {
  width: 200px;
}
.signoutButton{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.flexExpand {
  flex: 1 1 auto;
}
.authButton{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: medium;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  flex-direction: row;
align-content: space-around;}


.cart-icon {
  position: relative;
  margin-left: 1%;
}

.cart-count {
  position: absolute;
  top: -17px;
  right:-10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 12px;
}
.abc{
  cursor: pointer;
}
